

<div class="container1">
    <div class="header">
      <h3><br><strong>FORGOT PASSWORD</strong></h3>
    </div>
    
  
        <div class="mat-form-field">
          <form [formGroup]="forgotPasswordForm">
            <div class="form-group">
  
              <div class="align">
                Enter PR Number: <input matInput class="form-control" placeholder="Enter pr number." formControlName="prNumber">
               
                <button [disabled]="forgotPasswordForm.invalid" color="primary" mat-stroked-button (click)="forgotPassword()">Submit</button>
              </div>
            </div>
          </form>
        </div>
  
      
  </div>