.title{
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}

.mat-stroked-button{
    padding:100px;
    align-content: center;
    margin-left: 100px;
    margin-top: 110px;
    font-size: 30px;
    margin-left:80px;
}