.mat-drawer-container{
    height: 917px;
    width: 100%;
    
}

.mat-drawer{
    width: 15%;
}
.fontstyle{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    margin-left: 30px;
}

.main{
    margin-left: 30px;
    width: 30%;
}

.align{
    margin-left: 20px;
}

.gu{
    margin: 30px;
}

.first{
    margin-left: 20px;
}

.container{
    background-color:rgb(223, 229, 250);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.281);
    // width:200%;
    border: black 1px solid;
}

.card{
    width: 150px;
    height: 150px;
}