.class{
   text-align: center;
   font-size: 35px;
    
}

.body{
    background-image: url("blur.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.data{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top:100px;
    margin-left: 50px;
}

h3{
    text-align: center;
}

h4{
    margin-left: 200px;
    align-items: center;
}

.button{
    margin-left: 1200px;
    margin-top: 30%;
    size: 20px;
}

.pic{
    margin-left: 200px;
    
}