.class{
   text-align: left;
   font-size: 30px;
    background: rgb(56, 179, 228); 
}
.data{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top:200px;
}