section {
    margin-top: 0rem;
    background-image: url(2.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 917px;
}

.container{
    height: 500px;
    line-height: 65px;
}

