
  <div class="form-group">


    <label>Add Certificate</label>
    <h5 style="color:green;margin-bottom:2%" id="success_create"></h5>
    <br>
    Enter PR no.: <input class="form-control" type="text" placeholder="Ex: 101"formControlName="cert_PRno"><br><br>
    Enter name of college: <input class="form-control" type="text" placeholder="Ex: PCCE" formControlName="cert_CName"><br><br>
    Enter Seat no.: <input id="createName" class="form-control" type="text" placeholder="Ex: 101" formControlName="cert_Seatno"><br><br>
    Enter Examination: <input id="createName" class="form-control" type="text" placeholder="Ex: may/june" formControlName="cert_examination"><br><br>
    Enter Year of passing: <input class="form-control" type="text" placeholder="Ex: 2019" formControlName="cert_YOP"><br><br>
    Enter Sub: <input class="form-control" type="text" placeholder="Ex: abc" formControlName="cert_sububject"><br><br>
    <button (click)="recordCert()">Submit Records</button>

</div>
