/* subtitle:create certificate*/
.title1
{
    color:black;
    font-size: 40px;
}

/* subtitle:marks obtained*/
.title2
{
    color:black;
    font-size: 40px;
    text-align: center;
}

.form-group{
  text-align: center;
  font-size: 30px;
    padding-top:0px;
    margin-left:60px;
    
}

.findStudent{
font-size: 20px;
}

.container{
  text-align:center;
}

.title1{
  text-align: center;
}
.siddhi{
  text-align:center;
}

/*create certificate button*/
.button {
  background-color:grey;
  border: black;
  color: black;
  box-align: right;
  padding: 10px 20px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}