<!-- <form [formGroup]="recordCertForm">
  <div class="form-group">
    <label>Add Certificate</label>
    <h5 style="color:green;margin-bottom:2%" id="success_create"></h5>
    <br>
    Enter PR no.: <input class="form-control" type="text" placeholder="Ex: 101" formControlName="cert_PRno"><br><br>
    Enter name of college: <input class="form-control" type="text" placeholder="Ex: PCCE" formControlName="cert_CName"><br><br>
    Enter Seat no.: <input id="createName" class="form-control" type="text" placeholder="Ex: 101" formControlName="cert_Seatno"><br><br>
    Enter Examination: <input id="createName" class="form-control" type="text" placeholder="Ex: may/june" formControlName="cert_examination"><br><br>
    Enter Year of passing: <input class="form-control" type="text" placeholder="Ex: 2019" formControlName="cert_YOP"><br><br>
    Enter Sub: <input class="form-control" type="text" placeholder="Ex: abc" formControlName="cert_sububject"><br><br>
    <button (click)="recordCert()">Submit Records</button>
</div>
</form> -->

<div class="container h-100">
  <h2>Create Certificate Form</h2>
  <div class="row h-100 align-items-center justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card">

        <div class="card-body">


          <div class="mat-form-field">
            <form [formGroup]="recordCertForm">

              Enter PR Number: <input matInput class="form-control" placeholder="Ex: 101" formControlName="cert_PRno"><br>
              Enter Name of the College: <input matInput class="form-control" type="text" placeholder="Ex: PCCE"
                formControlName="cert_CName"><br>
              Enter Seat Number: <input matInput class="form-control" type="text" placeholder="Ex: 101" formControlName="cert_Seatno"><br>
              Enter Examination: <input matInput class="form-control" type="text" placeholder="Ex: may/june"
                formControlName="cert_examination"><br>
              Enter Year of passing: <input matInput class="form-control" type="text" placeholder="Ex: 2019"
                formControlName="cert_YOP"><br>
              Enter Subject: <input matInput class="form-control" type="text" placeholder="Ex: abc" formControlName="cert_sububject"><br>
              <button (click)="recordCert()">Submit Records</button>



            </form>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>





<div class="container h-100">
  <h5>Transfer Certificate Form</h5>
  <div class="row h-100 align-items-center justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card">

        <div class="card-body">




          <div class="mat-form-field">
            <form [formGroup]="transferCertForm">
       <div class="form-group">
              Enter PR no. <input matInput class="form-control" placeholder="Ex: 101" formControlName="cert_PRno">
              Enter Student Name: <input matInput class="form-control" placeholder="Ex: Amogh" formControlName="firstName"><br><br>

              <button (click)="transferCert()">Transfer Certificate</button>
            </div>
            </form>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>