.align{
    margin-left: 20px;
}

.gu{
    margin: 30px;
}

.first{
    margin-left: 20px;
}

.container{
    background-color:rgb(223, 229, 250);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.281);
    // width:200%;
    border: black 1px solid;
}

