<div class="form-group">
  <label>
    <h3>Search For A Specific Student</h3>
  </label><br>
  <h5 style="color:red;margin-bottom:2%" id="error_query"> Please enter a valid PR number.</h5>
  <form [formGroup]="queryForm">

    Enter a PR number: <input class="form-control" type="text" placeholder="Ex: 101" formControlName="cert_PRno">


    <button (click)="viewEnrolled()">Query Specific</button>

  </form>
</div>

<table class="table">
  <tr>
    <th>PR Number</th>
    <th>First Name</th>
    <th>Second Name</th>
    <th>Surname </th>
    <th>College Name</th>
    <th>Branch</th>
    <th>Year of Admission</th>
    <th>Email ID</th>
    <th>Mobile Number</th>
  </tr>
  <tr>
    <td>{{student.prNo}}</td>
    <td>{{student.firstName}}</td>
    <td>{{student.secondName}}</td>
    <td>{{student.surname}}</td>
    <td>{{student.collegeName}}</td>
    <td>{{student.branch}}</td>
    <td>{{student.yearOfAdmission}}</td>
    <td>{{student.emailId}}</td>
    <td>{{student.mobileNumber}}</td>
  </tr>
</table>










