<!--sesction for currosole and search bar-->
<!-- <app-topnav></app-topnav> -->
<section class="hero-home">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/bldg3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/bldg.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/bldg2.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <div class="content container text-white">
        <div class="row justify-content-center">
            <div class="col-xl-20">
                <div class="text-center">
                    <h1 class="display-4 font-weight-bold">SecureCert-A Blockchain Based Degree Certificate</h1>
                </div>
                <br><br><br>
                <form action="#" class="searchForm">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 d-flex align-items-center form-group">
                            <input type="text" name="search" placeholder="Enter Permanent Registration Number here to verify "
                                class="form-control border-0 shadow-0" style="width:800px;height:50px;">
                            <button (click)="queryCert()" style="width:100px;height:50px;" routerLink="certificate-temp" class="btn btn-primary btn-block rounded-xl h-100">
                                <mat-icon>search</mat-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<!--section for the middle thing-->
<section class="py-6 bg-gray-100">
    <div class="container">
        <div class="text-center pb-lg-4">
            <br>
            <p class="subtitle " style="font-family:'Anton', sans-serif,font;font-size: 50px;">ONE-OF-A-KIND DEGREE
                VERIFICATION SYSTEM </p>
            <!--<h2 class="mb-5">Let's get started.</h2>-->
        </div>


        <div class="row">
            <div class="col-md-4  text-center">



                <div class="icon-rounded bg-primary-light mb-3">
                    <img src="../../../assets/laptop.png" class="d-block w-85" alt="...">

                    <svg class="svg-icon text-primary w-2rem h-2rem">
                        <use xlink:href="#destination-map-1"> </use>
                    </svg>
                </div>
                <h3 class="h5">Design For Better</h3>
                <p class="text-muted">Responsive and Compatible with any browser.</p>

            </div>
            <div class="col-md-4  text-center">

                <img src="../../../assets/store.png" class="d-block w-85" alt="...">

                <div class="icon-rounded bg-primary-light mb-3">
                    <svg class="svg-icon text-primary w-2rem h-2rem">
                        <use xlink:href="#pay-by-card-1"> </use>
                    </svg>
                </div>
                <h3 class="h5">Secure Storage</h3>
                <p class="text-muted">Using the power of Blockchain,storage is highly immutable</p>

            </div>
            <div class="col-md-4  text-center">

                <img src="../../../assets/tick.jpg" class="d-block w-85 " alt="..." width="260px" height="260px">

                <div class="icon-rounded bg-primary-light mb-3">
                    <svg class="svg-icon text-primary w-2rem h-2rem">
                        <use xlink:href="#heart-1"> </use>
                    </svg>
                </div>
                <h3 class="h5">Easy to use</h3>
                <p class="text-muted">User friendly and accessiblity is the major priority.</p>

            </div>
        </div>



    </div>
</section>





<!--section for team-->
<section class="title-team is-info is-fullheight is-bold">
    <h1 class="title" style="font-family:'Anton', sans-serif,font;font-size: 50px;">TEAM</h1>

    <div class="row">

        <div class="col-md-3.9">
            <mat-card class="card">
                <img mat-card-image src="../assets/biswas.jpg" alt="Biswas" style="width:70%;height:350px;border-radius: 500%">

                <mat-card-content class="container">
                    <h2>Biswas Tiwari</h2>
                    <p class="title">Backend Chaincode Developer &amp; Founder</p>
                    <address>
                        Contact: <a href="biswastiwas@gmail.com">biswastiwas@gmail.com</a>
                    </address>
                </mat-card-content>
            </mat-card>
        </div>


        <div class="col-md-3.9">


            <mat-card class="card">
                <img mat-card-image src="../assets/gaurav.jpg" alt="Gaurav" style="width:70%;height:350px;border-radius: 500%">

                <mat-card-content class="container">
                    <h2>Gaurav Salunke</h2>
                    <p class="title">Backend Chaincode Developer &amp; Founder</p>
                    <address>
                        Contact: <a href="gauravsalunke@gmail.com">gauravsalunke@gmail.com</a>
                    </address>
                </mat-card-content>
            </mat-card>
        </div>




        <div class="col-md-3.9">
            <mat-card class="card">
                <img mat-card-image src="../assets/amogh.jpg" alt="Amogh" style="width:70%;height:350px;border-radius: 500%">

                <mat-card-content class="container">
                    <h2>Amogh Karapurkar</h2>
                    <p class="title">Frontend Developer</p>
                    <address>
                        Contact: <a href="amoghkarapurkar@gmail.com">amoghkarapurkar@gmail.com</a>
                    </address>
                </mat-card-content>
            </mat-card>
        </div>


    </div>
    <br><br>

    <div class="row">

        <div class="col-md-3.9">
            <mat-card class="card">
                <img mat-card-image src="../assets/dhruvi.jpg" alt="Dhruvi" style="width:70%;height:350px;border-radius: 500%">

                <mat-card-content class="container">
                    <h2>Dhruvi Patil</h2>
                    <p class="title">Middleware Developer </p>
                    <address>
                        Contact: <a href="dhruvipatil@gmail.com">dhruvipatil@gmail.com</a>
                    </address>
                </mat-card-content>
            </mat-card>
        </div>



        <div class="col-md-3.9">


            <mat-card class="card">
                <img mat-card-image src="../assets/andy.jpg" alt="Andy" style="width:70%;height:350px;border-radius: 500%">

                <mat-card-content class="container">
                    <h2>Andy Carvalho</h2>
                    <p class="title">Middleware Developer </p>
                    <address>
                        Contact: <a href="andycarvalho@gmail.com">andycarvalho@gmail.com</a>
                    </address>
                </mat-card-content>
            </mat-card>
        </div>




        <div class="col-md-3.9">
            <mat-card class="card">
                <img mat-card-image src="../assets/sid.jpg" alt="Siddhi" style="width:70%;height:350px;border-radius: 500%">

                <mat-card-content class="container">
                    <h2>Siddhi Gangulikar</h2>
                    <p class="title">Frontend Developer </p>
                    <address>
                        Contact: <a href="siddhigangulikar@gmail.com">siddhigangulikar@gmail.com</a>
                    </address>
                </mat-card-content>
            </mat-card>
        </div>


    </div>

</section>



<!---section for contactus-->
<footer class="section bg-dark">

    <div class="footer-distributed">
        <div class="footer-left">
            <h3>Logo</h3>

            <p class="footer-links">
                <a href="#">Home</a>
                ·
                <a href="#">About</a>
                ·
                <a href="#">Team</a>
                ·
                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">Securecert &copy; 2019</p>

        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Padre Conceicao college Of Engineering</span> </p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>0832-2513456</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="/cdn-cgi/l/email-protection#87f4f2f7f7e8f5f3c7e4e8eaf7e6e9fea9e4e8ea"><span class="__cf_email__"
                            data-cfemail="9be8eeebebf4e9efdbf8f4f6ebfaf5e2b5f8f4f6">[email&#160;protected]</span></a></p>
            </div>

        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the Company</span>
                Our aim was creating a software for creating, issuing, viewing and verifying blockchain-based
                certificates.
            </p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>
    </div>

</footer>