.toolbar{
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    position:sticky;
    top:0;
    z-index:1000;
}

  .list{
    display: flex;
    text-align: center;
    
    }
