<mat-toolbar>
  <mat-toolbar-row>
    <section class="title is-info is-fullheight is-bold">
      <h1 class="title">SECURECERTS</h1>
    </section>
    <span class="spacer"></span>

    <div class="container">

      <mat-nav-list class="list">
        <a mat-list-item routerLink="/">Home</a>
        <a mat-list-item routerLink="login"> Login </a>
        <a mat-list-item routerLink="/">About</a>
        <a mat-list-item routerLink="/">Team</a>
        <a mat-list-item routerLink="/">Contact</a>

        <button mat-button [matMenuTriggerFor]="menu">Login</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>University</button>
          <button mat-menu-item>Creator</button>
          <button mat-menu-item>Student</button>
        </mat-menu>

      </mat-nav-list>

    </div>

  </mat-toolbar-row>
</mat-toolbar>